extends ../includes/layout.pug

block content
  p Hi #{name},

  p Your password has been successfully reset. Please login with your new password.

  p If you did not request this password reset or have any concerns about your account security, please contact our support team immediately.

  p Thanks,
    br
    The #{app_name} team
